/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #222324 ;
    --text: #F7F7F7;
    --gray: #848483;
    --bonus: #4694FF;
    --start: #30E584;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: 'Changa', sans-serif;
}

html {
    font-size: 10px;
}

#home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

#home-screen h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.icons {
    margin-bottom: 2rem;
}

.icons > i {
    font-size: 1.8rem;
    margin: 0 10px;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    border: 1px solid #FFF;
    margin-bottom: 3rem;
}

#start {
    background-color: var(--start);
    color: var(--text);
    width: 60%;
}

.how-to-play h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

#instructions {
    margin-bottom: 1.5rem;
}

#instructions li {
    padding: 0.5rem 0;
}