/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #222324;
    --text: #F7F7F7;
    --gray: #848483;
    --bonus: #4694FF;
    --start: #30E584;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: 'Changa', sans-serif;
}

html {
    font-size: 10px;
}

#home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    display: none;
}

#home-screen h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.icons {
    margin-bottom: 2rem;
    animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.icons>i {
    font-size: 1.8rem;
    margin: 0 10px;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    border: 1px solid #FFF;
    margin-bottom: 3rem;
}

#start:hover,
#bonus:hover {
    background-color: var(--background);
}

#start {
    background-color: var(--start);
    color: var(--text);
    width: 60%;
}

.how-to-play h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

#instructions {
    margin-bottom: 1.5rem;
}

#instructions li {
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

#bonus {
    background-color: var(--bonus);
    color: var(--text);
    width: 30%;
}

/* Game styles */
#game-screen {
    height: 100vh;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 8rem;
}

#game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-result {
    font-size: 2rem;
}

.players {
    width: 100%;
    display: flex;
    text-align: center;
}

.players span {
    font-size: 1.3rem;
    display: block;
}

.player, .computer {
    flex: 50%;
    margin: 1rem;
    border: 1px solid var(--gray);
}

.player h1, .computer h1 {
    font-size: 1.8rem;
}

.player p {
    font-size: 1.3rem;
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
    #home-screen {
        margin: 0;
        justify-content: center;
        height: 100vh;
    }

    #home-screen h1 {
        font-size: 4rem;
    }

    .icons>i {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    .how-to-play h2 {
        font-size: 2.5rem;
    }

    #instructions li {
        font-size: 2rem;
    }

    #bonus {
        width: 10%;
    }
}

/* Laptop styles */
@media only screen and (min-width: 1024px) {
    #home-screen h1 {
        font-size: 4.5rem;
    }

    .icons>i {
        font-size: 4rem;
    }
}

/* Desktop styles */
@media only screen and (min-width: 1440px) {
    #instructions {
        margin-bottom: 2.5rem;
    }
}